COREMON_ENV="local"
COREMON_LOG_FORMAT="json"
COREMON_LOG_VERBOSE=false
COREMON_CHAIN_ID="stressinj-1337"
COREMON_BFT_RPC="http://localhost:26657"
COREMON_BLOCK_FETCH_JOBS=1
COREMON_STATSD_PREFIX="coremon"
COREMON_STATSD_ADDR="localhost:8125"
COREMON_STATSD_ENABLED=true
COREMON_DB_INFLUX_ENABLED=true
COREMON_DB_INFLUX_ENDPOINT="http://localhost:8086"
COREMON_DB_INFLUX_DBNAME="coremon"
COREMON_DB_INFLUX_USERNAME="coremon_user"
COREMON_DB_INFLUX_PASSWORD=""
